.A-1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(52, 92, 167);
}

.A-2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cornflowerblue;
}

.A-3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(54, 112, 219);
}

.A-4{
    margin: 12mm;
}

.A-5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(43, 83, 158);
}