.T-1{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.Titulo1{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(37, 6, 148);
    padding: 20px;
    padding-left: 40px;
    font-size: 500%;
}
.T-1 li{
    padding: 0px;
    list-style-position:inside;
    border: 2px solid black;
}
.T-3:hover{
    color: blue;
    background-color: rgb(146, 146, 153);
    
}
.T-4{
    list-style: none;
}

body{
    background-color: white;
    background-image: url("fondo2.png");;
    background-repeat:repeat;;
    background-size: auto;
}
.T1 button{
    size: 100px;
}
.T-5{

    width: 150px;
    height:50px;
}
.Titulo2{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(6, 68, 148);
    padding: 20px;
    padding-left: 40px;
    font-size: 500%; 
}
.T-6{
    width: 50%;
    
    position: static;
    
    border: 2px solid black;
}
.T-7{
    display: flex;
    justify-content: space-around;
}
.T-8{
    width: 50%;
}